	a:hover{color:#8f5743;}

	#nav li.current-menu-item > a,

	#nav li.current-menu-ancestor > a,

	#nav a:hover{

		background:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/bg-nav-hover.gif) repeat-x;

	}

	#nav li ul li.current-menu-item > a,

	#nav li ul li.current-menu-ancestor > a,

	#nav li ul li a:hover{

		background:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/bg-nav-hover.gif) repeat-x bottom;

	}

	.gallery-holder .text-box{

		border-top:2px solid #8f5743;

	}

	.flex-prev,.prev,

	.flex-next,.next{

		background-image:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/btn-prev-next.png);

	}

	.paging ul li a:hover,.flex-control-thumbs li strong:hover,

	.paging ul li.active a,.flex-control-thumbs li.active strong{

		border-top:2px solid #8f5743;

	}

	.tabset li.active a{

		background:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/bg-active-tabset.gif) repeat-x;

	}

	.tabset li.active a{background:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/bg-active-tabset.gif) repeat-x;}

	.music-gallery .prev, .music-gallery .next{

		background-image:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/btn-prev-next2.gif);

	}

	.rating,.rating-hold{

		background-image:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/bg-rating.png);

	}

	.footer-top-section{

		background-image:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/footer-top-section.png);	

	}

	.pagination .current{

		background:#8f5743;

	}

	.pagination a.inactive:hover{

		border:1px solid #8f5743;

		color:#8f5743;

	}

	.single-navigation span, .pagination span.page-next, .pagination span.page-prev{

		background-image:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/single-pagination-arrow.png);		

	}

	.heading h2 span,.heading h2 a{

		color:#8f5743;

	}

	ul.orange li,.post-content h5.toggle a{

		background-image:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/orange-bullet.png);

	}

	.post-meta .tags a, .tags a{

		background-image:url(http://theme-fusion.com/crucio/wp-content/themes/crucio/images/skins/brown/tag-bg.png);	

	}

	.post-meta .tags a:hover, .tags a:hover{color:#fff;}

	.dropcap{color:#8f5743;}

	.twitter-holder .tweets-container a,#nav li ul li.current-menu-item > a, #nav li ul li.current-menu-ancestor > a, #nav li ul li a:hover,.gallery-item h3 a:hover{

		color:#8f5743;

	}