@font-face {
    font-family: 'avenir_lt_std_45_bookregular';
    src: url('../fonts/avenirltstd-book-webfont.eot');
    src: url('../fonts/avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirltstd-book-webfont.woff') format('woff'),
         url('../fonts/avenirltstd-book-webfont.ttf') format('truetype'),
         url('../fonts/avenirltstd-book-webfont.svg#avenir_lt_std_45_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
	font-family: 'avenir_lt_std_45_bookregular';
	src: url('../fonts/avenirltstdheavy.eot');
	src: url('../fonts/avenirltstdheavy.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/avenirltstdheavy.woff') format('woff'),
			 url('../fonts/avenirltstdheavy.ttf') format('truetype'),
			 url('../fonts/avenirltstdheavy.svg#avenirltstdheavy') format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
    font-family: 'myriad_probold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-bold-webfont.svg#myriad_probold') format('svg');
    font-weight: normal;
    font-style: normal;}

body {
	margin:0;
	background:#f5f5f5 url(../images/filete-bg.png) repeat-x;
	color:#333;
	font:18px 'avenir_lt_std_45_bookregular', sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
}
.clearfix{clear:both;}
img{border:0;}
a{
	color:#444;
	text-decoration:none;
}
a:hover{color:#EE9901;}
form,
fieldset{
	margin:0;
	padding:0;
	border:0;
}
input,
select,
textarea{
	color:#999;
	vertical-align:middle;
	font:18px 'avenir_lt_std_45_bookregular', sans-serif;
}
input[type=text], input[type=password], input[type=file], textarea{
	-webkit-appearance:none;
	border:1px solid #EAEAEA;
	line-height: 30px;
}
.clearfix{width:100%;overflow:hidden;}
#wrapper{
	background:url(../images/elemento-bg.png) no-repeat top center;
	width:100%;
	position:relative;
}
#header{
}
#footer{
	overflow:hidden;
}
#header .holder,
#footer .holder{
	max-width:940px;
	margin:0 auto;
	position:relative;
}
#header .holder:after,
#footer .holder:after{
	clear:both;
	display:block;
	content:"";
}

#footer #rocket{
	display: none;
	background:url(../images/rocket.png) no-repeat;
	width: 68px;
	height: 112px;
	position: fixed;
	top: 100%;
	left: 100%;
	margin-top: -120px;
	margin-left: -102px;
}

.link-subscribe{
	background:url(../images/ico-subscribe.gif) no-repeat 0 50%;
	display:inline-block;
	vertical-align:top;
	padding:0 0 0 20px;
}
/*.logo{
	float: left;
	overflow: hidden;
	width: 235px;
	height: 65px;
	margin: 50px 0 35px 0;
	width:250px;

}*/
.logo a{
	display:block;
	height:100%;
}

span.btn-topo a{
	background:url(../images/btn-visitez-le-web-au-bresil.png) no-repeat;
	width:216px;
	height:29px;
	display: block;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	top:0;
	right:0;}

#header .ads{
	float:right;
	background:url(../images/bg-ads.png) no-repeat;
	width:463px;
	height:56px;
	margin:32px 0 0 -100px;
	padding:6px;
}
#header .ads img{vertical-align:top;}
.nav-holder{
}
.nav-holder select{display:none;}
#nav{
	max-width:935px;
	margin:0 auto;
	padding:0;
	list-style:none;
	border-bottom:1px solid #f8b133;
}
.group:before,
.group:after,#nav:before,#nav:after {
    content:"";
    display:table;
}
.group:after,#nav:after {
    clear:both;
}
.group,#nav {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
#nav li{
	float:left;
	line-height:35px;
	font-size:18px;
	font-weight:normal;
	margin:0;
	position:relative;
}
#nav li:first-child{background:none;}
#nav a{
	color:#999;
	text-decoration:none;
	float:left;
	height:36px;
	padding:0 33px;
	border-bottom:2px solid #f5f5f5;
}
#nav a:hover{
	color:#666;}
#nav li.current-menu-item > a,
#nav li.current-menu-ancestor > a,
#nav a:hover{
	position:relative;
	z-index:2;
	border-bottom:2px solid #f8b133;
}
#nav li ul{
	display:none;
	position:absolute;top:38px;left:0;
	z-index:10000;
	margin:0;
	padding:0;
}
#nav li:hover ul{
	display:block;
}
#nav li ul{
	width:100%;
	list-style:none;
}
#nav li ul li{
	float:none;
	font-size:13px;
	font-weight:normal;
	height:32px;
	line-height:38px;
	white-space:nowrap;
}
#nav li ul li a{
	float:none;
	display:block;
	background-color:#444;
	font-weight:normal;
	color:#d3d3d3;
	padding:0 10px;
	border-bottom:1px solid #444;
}
#nav li ul li.current-menu-item > a,
#nav li ul li.current-menu-ancestor > a,
#nav li ul li a:hover{
	background-color:#515151;
	color:#f1f1f1;
	border-bottom:1px solid #666;
}
#nav li ul li ul{
	display:none !important;
}
#nav li ul li:hover ul{
	display:block !important;
	top:0 !important;left:200px !important;
}
#main{
	width:100%;
	overflow:hidden;
}
#main .holder{
	padding:50px 0 0;
}
#main .frame{
	padding:0 0 77px;
}
.main-content{
	max-width:940px;
	margin:0 auto;
	overflow:hidden;
}
#content{
	float:left;
	width:63%;
}
.main-gallery{
	overflow:hidden;
	padding:15px;
	position:relative;
	margin:0 0 38px;
}
.gallery-holder{
	overflow:hidden;
	width:100%;
	position:relative;
	z-index:10;
	margin:0 0 4px;
}
.gallery-holder ul{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.gallery-holder ul li{
	display:none;
	position:relative;
}
.gallery-holder ul li.active{display:block;}
.gallery-holder ul li img{
	display:block;
	width:100%;
	height:auto;
}
.gallery-holder .text-box{
	position:absolute;
	bottom:26px;
	left:15px;
	width:210px;
	padding:19px 15px 21px;
	color:#fff;
	line-height:19px;
	border-top:2px solid #EE9901;
	background:url(../images/bg-text-box.png);
}
.full-gallery .gallery-holder .text-box{
}
.full-gallery .flex-next{
}
.full-gallery .flex-prev{
}
.full-gallery .flex-control-thumbs li img{
	width:auto;
	max-width:100%;
}
.full-gallery .flex-control-thumbs li{
	width:12.5%;
}
.full-gallery .flex-control-thumbs{
	padding-top:0;
}
.full-gallery .flex-control-thumbs li:first-child{margin-left:6px;}
.half-width-text-slider .gallery-holder .text-box{
	bottom:0;left:0;
	width:100%;
}
.half-width-text-slider .flex-next{
	top:195px;
	left:auto;
	right:0;
}
.half-width-text-slider .flex-prev{
	top:195px;
	left:auto;
	right:15px;
}
.full-width-text-slider .gallery-holder .text-box{
	bottom:0;left:0;
	width:100%;
}
.full-width-text-slider .flex-next{
	top:254px;
	left:auto;
	right:0;
}
.full-width-text-slider .flex-prev{
	top:254px;
	left:auto;
	right:15px;
}
.half-width-text-slider .flex-control-thumbs,.full-width-text-slider .flex-control-thumbs{display:none;}
.gallery-holder h1{
	margin:0 0 10px;
	font-size:18px;
	line-height:21px;
}
.gallery-holder h1 a{color:#fff;}
.gallery-holder p{margin:0;}
.gallery-holder .flex-direction-nav li{display:block;position:static;}
.flex-prev,.prev,
.flex-next,.next{
	background:url(../images/btn-prev-next.png) no-repeat;
	width:13px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	bottom:86px;
	left:228px;
	z-index:10;
}
.flex-next,.next{
	background-position:-14px 0;
	left:242px;
}
.paging,.flex-control-thumbs{
	overflow:hidden;
	background:url(../images/bg-paging-normal.gif) repeat-x;
	position:relative;
	z-index:10;
	padding:1px 0 0;
}
.paging ul,.flex-control-thumbs{
	list-style:none;
	overflow:hidden;
	margin:0;margin-top:4px;
}
.paging ul li,.flex-control-thumbs li{
	float:left;
	width:20%;
	background:url(../images/separator-paging.gif) no-repeat;
	cursor: pointer;
}
.paging ul li:first-child,.flex-control-thumbs li:first-child{background:none;}
.paging ul li a,.flex-control-thumbs li strong{
	padding:5px 6px;
	display:block;
	margin:0 0 0 1px;
}
.paging ul li img,.flex-control-thumbs li img{
	display:block;
	width:100%;
	height:auto;
	border:1px solid #2b2d2e;
	margin:0 -1px;
}
.paging ul li span,.flex-control-thumbs li span{
	display:block;
	padding:0 1px 2px;
	background:url(../images/bg-shadow.gif) repeat-x 0 100%;
	border:1px solid #494d4f;
	position:relative;
}
.paging ul li span:after,.flex-control-thumbs li span:after{
	position:absolute;
	top:0;
	left:0;
	background:url(../images/bg-hover-paging.png) repeat;
	/*content:"";*/
	width:100%;
	height:100%;
	display:none;
}
.paging ul li.active span:after,.flex-control-thumbs li.active span:after,
.paging ul li a:hover span:after,.flex-control-thumbs li strong:hover span:after{display:block;}
.paging ul li a:hover,.flex-control-thumbs li strong:hover,
.paging ul li.active a,.flex-control-thumbs li.active strong{
	border-top:2px solid #EE9901;
	padding-top:3px;
	background:url(../images/bg-paging.gif) repeat-x;
}
.main-gallery .decor{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
}
.section{
	overflow:hidden;
	width:100%;
	margin:0 0 76px;
}
.section .hold,
.section .threecolumns{
	overflow:hidden;
	width:100%;
}
.section .threecolumns{padding:0 0 9px;}
.section .hold .col{
	float:left;
	width:48.5%;
	margin:0 0 0 3%;
}
.section .hold .col:first-child,
.section .threecolumns .col:first-child{margin-left:0;}
.section .threecolumns .col{
	float:left;
	width:30.5%;
	margin:0 0 0 4.1%;
}
.section .threecolumns .post .img-hold{
	width:auto;
	border:3px solid #fff;
}
.section .threecolumns .post .img-hold img{
	display:block;
	width:100%;
	height:auto;
}
.heading h2,.post-content .heading h2{
	margin:0;
	display:inline-block;
	font:18px 'avenir_lt_std_45_bookregular';
	color:#999;
}
.heading h2 span{
	color:#EE9901;
}
.heading h2 a{color:#EE9901;}
.heading h2 a:hover{color:#444;}
.post h3,
.main-post-list li h3{
	margin:0;
	color:#333;
	font-size:30px;
	margin-bottom:5px;
}
.post span.autor{
	display:block;
	margin:0 0 10px 0;
	font-size:14px;}
.post span.autor a{
	color:#ee9901;
}
.post span.autor a:hover{
	opacity:0.8;}
.post span.data{
	background:url(../images/ico-data.png) no-repeat left center;
	font:13px 'avenir_lt_std_45_bookregular';
	padding:0 0 0 20px;
}
.post span.comentarios{
	background:url(../images/ico-comentario.png) no-repeat left center;
	font:13px 'avenir_lt_std_45_bookregular';
	padding:0 0 0 20px;
}
.post .meta,
.main-post-list li .meta{
	color:#919090;
	font:18px 'avenir_lt_std_45_bookregular', sans-serif;
	overflow:hidden;
}

.post .meta span {
	margin-right: 10px;
}

.post .meta{margin:0 0 25px;}
.threecolumns .post .meta{margin:0 0 7px;}
.threecolumns .post p,.section .hold p{margin:0 0 13px;}
.post .meta a,
.main-post-list li .meta a{color:#919090;}
.post .meta a:hover,
.main-post-list li .meta a:hover{text-decoration:underline;}
.main-post-list{
	margin:0;
	padding:0;
	list-style:none;
}
.main-post-list li{
	overflow:hidden;
	background:url(../images/separator-post-list.gif) repeat-x;
	padding:27px 0 19px;
}
.main-post-list li:first-child{
	padding-top:12px;
	background:none;
}
.main-post-list .img{
	float:left;
	margin:-10px 12px 0 0;
}
.main-post-list .img img{
	display:block;
	border:3px solid #fff;
}
.post + .main-post-list{padding:32px 0 0 9px;}
.post + .main-post-list li:first-child{
	background:url(../images/separator-post-list.gif) repeat-x;
	padding:27px 0 19px;
}
.post{padding:0 11px;}
.post .img-holder{
	position:relative;
	padding:11px;
	margin:0 -11px 14px !important;
	width:100%;
	float:none;
}
.post p{margin:0;}
.post .img-hold{
	overflow:hidden;
	width:100%;
	position:relative;
}
.post .img-hold ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.post .img-hold ul li{
	border:3px solid #fff;
	display:none;
	overflow:hidden;
}
.post .img-hold ul li.active{display:block;}
.post .img-hold ul li img{
	display:block;
	max-width:100%;
}
.post .prev{
	right:17px;
	left:auto;
	bottom:3px;
}
.post .next{
	right:3px;
	left:auto;
	bottom:3px;
}
.rating{
	background:url(../images/bg-rating.png) repeat-x 0 -14px;
	height:14px;
	width:65px;
	position:relative;
}
.rating-hold{
	position:absolute;
	top:0;
	left:0;
	background:url(../images/bg-rating.png) repeat-x 0 2px;
	height:14px;
}
.music-gallery{
	padding:0 46px;
	overflow:hidden;
	position:relative;
	margin:0;
}
.music-gallery .prev,
.music-gallery .next{
	bottom:auto;
	top:50%;
	margin:-8px 0 0;
	left:-25px;
	background:url(../images/btn-prev-next2.png) no-repeat;
	width:16px;
	height:16px;
}
.music-gallery .next{
	left:auto;
	right:-68px;
	background-position:-16px 0;
}
.music-gallery-holder{
	width:100%;
	position:relative;
	margin-left:-22px;
}
.music-gallery ul{
	margin:0;
	padding:30px 0 0;
	list-style:none;
	overflow:hidden;
	width:99999px;
}
.music-gallery li{
	float:left;
	position:relative;
	margin:0 26px 0 0;
}
.music-gallery li img{
	display:block;
	border:3px solid #fff;
	margin:0 0 4px;
	max-width: 100%;
}
.music-gallery .rating{margin:0 0 0 auto;}
.music-gallery li .popup{
	position:absolute;
	left:25px;
	top:-18px;
	background:url(../images/bg-hover-paging.png);
	padding:15px 5px 15px 15px;
	width:135px;
	color:#fff;
	font-size:11px;
	display:none;
}
.music-gallery li .popup:after{
	position:absolute;
	background:url(../images/arrow-popup.png) no-repeat;
	width:10px;
	height:6px;
	left:22px;
	top:100%;
	content:"";
	overflow:hidden;
}
.music-gallery li:hover .popup{display:block;}
.music-gallery li .popup .ttl{
	display:block;
	font-size:14px;
	line-height:20px;
}
.music-gallery li .popup p{
	margin:0;
	font:italic 11px/15px Georgia, 'Times New Roman', Times, serif;
	word-spacing:-1px;
}
#sidebar{
	float:right;
	width:32%;
}
.search{
	margin:0 0 20px;
}
.search .text{
	display:block;
	padding:0 8px;
}
.search .text input{
	display:block;
	width:98%;
	background:#fff url(../images/ico-lupa.png) no-repeat right 5px;
	border:0;
	line-height:15px;
	height:15px;
	margin:0 -8px;
	padding:7px 8px;
	border:2px solid #e5e5e5;
	font:15px 'avenir_lt_std_45_bookregular';
	color:#666;
}
.social-info{
	margin:0 0 27px;
	overflow:hidden;
	font:12px/15px Georgia, 'Times New Roman', Times, serif;
}
.social-info a{color:#888;}
.social-info .rss,
.social-info .twitter{
	float:left;
	width:105px;
	padding:0 0 2px 47px;
	background:url(../images/ico-social-info.gif) no-repeat 2px 2px;
}
.social-info .twitter{
	background-position:3px -133px;
	width:70px;
}
.social-info .num{
	display:block;
	color:#444;
	font-size:21px;
	line-height:23px;
}
.img-row{
	overflow:hidden;
	margin:0 0 28px;
}
.img-holder{
	margin:0 0 10px 5%;
	float:left;
}
.img-holder:first-child,.img-holder:nth-child(3n){margin-left:0;}
.img-holder .hold{
	display:block;
}
.img-holder .hold img{
	display:block;
	width:100%;
	height:auto;
}
.social{
	overflow:hidden;
	width:108%;
	margin:0 -8% 49px 0;
	padding:5px 0 0;
	list-style:none;
}
.social li{
	float:left;
	margin:0 8px 0 0;
}
.social a{
	display:block;
	width:36px;
	height:35px;
	text-indent:-9999px;
	overflow:hidden;
}
.social a.rss{background:url(../images/ico-social.png) no-repeat;}
.social a.facebook{background:url(../images/ico-social.png) no-repeat -44px 0;}
.social a.twitter{background:url(../images/ico-social.png) no-repeat -88px 0;}
.social a.dribble{background:url(../images/ico-social.png) no-repeat -132px 0;}
.social a.google{background:url(../images/ico-social.png) no-repeat -176px 0;}
.social a.linkedin{background:url(../images/ico-social.png) no-repeat -220px 0;}
.social a.blogger{background:url(../images/ico-social.png) no-repeat -264px 0;}
.social a:hover{
	padding:5px 0 0;
	margin:-5px 0 0;
}
.social a.rss:hover{background-position:0 -38px;}
.social a.facebook:hover{background-position:-44px -38px;}
.social a.twitter:hover{background-position:-88px -38px;}
.social a.dribble:hover{background-position:-132px -38px;}
.social a.google:hover{background-position:-176px -38px;}
.social a.linkedin:hover{background-position:-220px -38px;}
.social a.blogger:hover{background-position:-264px -38px;}

.tab-holder{
	padding:8px;
	overflow:hidden;
	margin:0 0 30px;
}
.tab-hold{
	border:1px solid #d4d4d4;
	overflow:hidden;
}
.tabset{
	margin:0;
	padding:0;
	list-style:none;
	background:url(../images/bg-tabset.jpg);
	width:100%;
	border-bottom:1px solid #f5f5f5;
}
.tabset:after{
	content:"";
	clear:both;
	display:block;
}
.tabset li{
	float:left;
	background:url(../images/separator-tabset.gif) no-repeat;
	font:bold 12px/39px Helvetica, Arial, sans-serif;
}
.tabset li:first-child{background:none;}
.tabset li:first-child a{border-left: none !important}
.tabset li a{
	color:#555;
	display:block;
	text-align:center;
	padding:0 10px;
	margin:0 0 0 2px;
	border-bottom: 1px solid #d4d4d4;
}
.scaling-active li a{padding:0;}
.tabset li a:hover{background:url(../images/bg-tabset-holver.jpg);}
.tabset li.active a{
	border-bottom:1px solid #f5f5f5;
	background:url(../images/bg-active-tabset.gif) repeat-x;
	margin:0 0 -1px;
	border-left: 1px solid #D4D4D4;
}
.tabset li.active a{background:url(../images/bg-active-tabset.gif) repeat-x;}
.news-list{
	margin:0;
	border-bottom:1px solid #d4d4d4;
	padding:4px 0 0;
	list-style:none;
}
.news-list li{
	overflow:hidden;
	padding:13px 18px;
	border-top:1px solid #e2e2e2;
}
.news-list li:first-child{border-top:0;}
.news-list li img{
	float:left;
	margin:3px 13px 0 0;
}
.news-list li .post-holder{overflow:hidden;}
.news-list li p{margin:0 0 4px;}
.news-list .meta{
	color:#aaa;
	font:italic 11px/15px Georgia, 'Times New Roman', Times, serif;
}
.news-list .link-comment a{color:#aaa;}
.news-list .link-comment a:hover{color:#383737;}
.widget{
	margin:0 0 17px;
	overflow:hidden;
}
.heading,.post-content .heading{
	margin:0 0 45px;
}
#sidebar .heading{
	margin:0 0 15px;
}

#respond .heading {
	margin:0 0 15px;
}

.heading h3{
	margin:0;
	display:inline-block;
	vertical-align:top;
	font:18px 'avenir_lt_std_45_bookregular';
	color:#999;
}
.video-holder{
	background:url(../images/bg-holder.gif);
	padding:8px;
}
.video{
	border:3px solid #fff;
	overflow:hidden;
}
.video img{
	width:100%;
	height:auto;
}
.twitter-box{
	position:relative;
	margin:0 0 12px;
}
.twitter-box .arrow{
	width:18px;
	height:22px;
	overflow:hidden;
	position:absolute;
	left:55px;
	bottom:-11px;
}
.twitter-holder{
	border:1px solid #dcdcdc;
	background-color: #FFF;
}
.twitter-holder .b{
	overflow:hidden;
	font:12px/20px Helvetica, Arial, sans-serif;
	color:#333;
	padding:0 10px 14px 0;
}
.twitter-holder .tweets-container{margin:0;}
.twitter-holder .tweets-container a{color:#c60;}
.twitter-holder #jtwt_date{
	color:#999;
	font-size:10px;
}
.follow, #socialHome #socialHome-box .follow{
	background: url(../images/twitter-social-aotopo.png) no-repeat;
	line-height: 30px;
	min-height: 30px;
	text-align: left;
	padding-left: 40px;
}

ul.flickr{
	margin:0 -8% -2% 0;
	padding:0;
	width:108%;
	list-style:none;
	overflow:hidden;
}
ul.flickr li{
	float:left;
	background:url(../images/bg-holder.gif);
	width:21%;
	margin:0 3.2% 3.2% 0;
}
ul.flickr li a{
	display:block;
	margin:5px;
	border:2px solid #fff;
}
ul.flickr li img{
	display:block;
	width:100%;
	height:auto;
}
.ads-box{
	border:1px solid #d5d5d5;
	margin:0 0 68px;
}
.ads-box img{
	display:block;
	width:100%;
	height:auto;
}
.widget .col{
	float:left;
	width:48%;
	margin:0 0 0 4%;
}
.widget .col:first-child{margin:0;}
.widget .col ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:24px;
}
.widget .col ul.children{
	padding:0 0 0 15px;}
.widget .col ul li{
	font:14px 'avenir_lt_std_45_bookregular';
	color:#333;
	margin:0 0 10px 0;
}
.widget .col ul li a:hover{ color:#da8e17;}
.widget .col ul.children li a:hover{ color:#f7a82d;}
.widget .col ul.children li{ margin:0 0 5px 0;}
#footer{color:#8c8989;}
#footer a{color:#bfbfbf;}
#footer a:hover{text-decoration:underline;}
.footer-top-section{
	background:url(../images/footer-top-section.jpg) repeat-x;
	border:1px solid #2b2e30;
	border-width:1px 0;
	line-height:15px;
	padding:10px 0;
	overflow:hidden;
}
.breadcrumbs{
	display:block;
	float:left;
	padding:0;
	list-style:none;
	font-size: 14px;
	line-height: 20px;
	margin-top: 0px;
}

.breadcrumbs li:first-child{
	background: none;
	padding-left: 0px;
}

.breadcrumbs li, .breadcrumbs a{
	float: left;
	color:#666;
	background:url(../images/arrow-breadcrumbs.gif) no-repeat 0 50%;
	padding:0 9px;
}

.link-top{
	float:right;
	color:#d4d4d4;
	padding:0 15px 0 0;
	background:url(../images/arrow-top-link.gif) no-repeat 100% 50%;
	font:15px 'avenir_lt_std_45_bookregular';
}
.copy{
	border-top:1px solid #4d4f4f;
	background:url(../images/bg-body.jpg);
	line-height:17px;
	padding:20px 0;
}
.copy p{margin:0;}
.copy .by{float:right;}
.footer-holder{padding:36px 0 44px;}
.footer-holder .col{
	float:left;
	width:23.2%;
	margin:0 0 0 2.2%;
	overflow:hidden;
}
.footer-holder .col:first-child{
	font-style:italic;
	background:url(../images/bg-footer.jpg) no-repeat;
	margin:-35px -169px 0 -274px;
	padding:35px 200px 0 270px;
	width:20%;
}
.footer-holder .col ul,.footer-holder .tweets-container{
	margin:-1px 0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.footer-holder .col ul li,.footer-holder .tweets-container #jtwt{
	padding:9px 5px;
	border-top:1px solid #585151;
	border-bottom:1px solid #282a2b;
}
.footer-holder .col ul li:first-child,.footer-holder .tweets-container #jtwt:nth-child(2){
	border-top:0;
	padding-top:0;
}
.footer-holder .col ul p{margin:0 0 5px;}
.footer-holder .col ul .time{
	font-style:normal;
	color:#bfbfbf;
}
.footer-holder .col .post-list li,.footer-holder #jtwt{
	padding:16px 5px;
}
.footer-holder .img-list{
	overflow:hidden;
	width:110%;
	margin:0 -10% 0 0;
}
.footer-holder .col .img-list li{
	float:left;
	padding:0;
	margin:0 3.2% 3.2% 0;
	border:0;
	width:28.2%;
	background:url(../images/bg-img-list.gif);
	overflow:hidden;
}
.footer-holder .col .img-list li a{
	display:block;
	margin:5px;
	border:2px solid #fff;
}
.footer-holder .img-list li img{
	display:block;
	width:100%;
	height:auto;
}
.footer-holder .title{
	background:url(../images/bg-title.gif) repeat-x 0 50%;
	padding:0 0 0 25px;
	margin:0 0 23px;
}
.footer-holder .title h4{
	margin:0;
	background:url(../images/bg-header.jpg);
	padding:0 6px;
	display:inline-block;
	color:#ddd;
	font-size:13px;
	text-transform:uppercase;
}
.footer-logo{
	background:url(../images/footer-logo.png) no-repeat;
	width:161px;
	height:63px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	margin:1px 0 29px;
}
.featured-image{
	margin-bottom:20px;
}
.featured-image img, .featured-image iframe{
	display:block;
	border:1px solid #ccc;
	height:auto;
	max-width:100%;
}
.featured-image iframe{
	height:274px;
}
.posts-index{
	margin-bottom:40px;
	border-bottom: 1px solid #E1E1E1;
}
.post h2{
	color:#444;
	font-size:25px;
	font-family: 'myriad_probold'
}
.post-content-container{
}
.post-content{
	padding-bottom:10px;
	margin-bottom:10px;
}
.post-content *{
	margin:0;
	padding:0;
}
.post-content p{
	margin-bottom:20px;
	margin-top:15px;
	line-height: 1.4em;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6{
	margin-bottom:25px;
}
.post-content a{
	color:#F06E09;
	font-weight: bold;
}
.post-content h1{font-size:15px;}
.post-content h2{font-size:18px;}
.post-content h3{font-size:16px;}
.post-content ul,.post-content ol{margin-left:50px;margin-bottom:20px;}
.post-content li{margin-bottom:15px; font-size:16px;}
.post-content ul li:last-child,.post-content ol li:last-child{margin-bottom:0;}
.post-content blockquote{
	background:url(../images/quote.png) no-repeat 33px center;
	padding-left:110px;
}

.post-content img {
	margin: 20px 0;
	border: 1px solid #ccc;
}

.post-meta{
	background:url(../images/separator-post-list.gif) repeat-x bottom left;
	padding:15px 10px;
	overflow:hidden;
	margin-bottom:60px;
}
.post-meta .categories{
	float:left;
}
.post-meta .tags{
	float:right;
}
.tab_content .tags{padding:13px;padding-bottom:3px;}
.tab_content .tags a{margin-bottom:10px;}
.post-meta .tags ,.tags{
	background: url(../images/ico-tag.png) no-repeat left;
	background-position: 0 10px;
	padding-left: 26px;
	padding-right: 10px;
	font: 13px/33px 'avenir_lt_std_45_bookregular';
	color: white;
	display: inline-block;
	}
.about-author {overflow:hidden;}
.about-author div.avatar{
	float:left;
	background:url(../images/bg-holder.gif);
	padding:6px;
}
.about-author .avatar img.avatar{
	display:block;
	border:2px solid #fff;
}
.about-author .description{
	float:right;
	width: 83%;
}
.jcarousel-skin-media li{position:relative;}
.jcarousel-skin-media .tooltip{
	position:absolute;
	top:0;right:-10px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	padding:13px;
	width:120px;
	display:none;
	z-index:1000;
}
.jcarousel-skin-media .tooltip strong{display:block;font-size:14px;line-height:16px;margin-bottom:5px;}
.jcarousel-skin-media .tooltip strong a{color:#fff;}
.jcarousel-skin-media .tooltip span{display:block;font-size:11px;font-family: Georgia, Serif;}
.jcarousel-skin-media .tooltip span a{color:#fff;}
.jcarousel-skin-media .tooltip:before{
	border:solid;
	border-color:rgba(0,0,0,0.5) transparent;
	border-width:6px 6px 0 6px;
	bottom:-6px;
	content:"";
	display:block;
	left:15%;
	position:absolute;
	z-index:99
}
.commentlist{
	list-style:none;
	margin:0;
	padding:0;
}
.commentlist .the-comment{
	margin-bottom:20px;
	background:url(../images/separator-post-list.gif) repeat-x bottom left;
	padding-bottom:20px;
	min-height: 70px;
}
.commentlist div.avatar{
	float:left;
	margin-right:15px;
}
.commentlist div.avatar img.avatar{
	display:block;
	border:1px solid #d2d2d2;
}
.commentlist .comment-author strong a,.commentlist .comment-author strong{
	display:inline-block;
	color:#333333;
	margin-right:5px;
}
#comment-input{
	overflow:hidden;
	margin-bottom:13px;
}
#comment-input input{
	width:44%;
	float:left;
	margin:0;
	padding:0;
	border:1px solid #d2d2d2;
	font:18px 'avenir_lt_std_45_bookregular', sans-serif;
	color:#444444;
	padding:9px;
}

#comment-input input.input-name{ float:left;}
#comment-input input.input-email{ float:right;}

#comment-input input[name=url]{
	margin-right:0;
}
#comment-textarea textarea{
	width:572px;
	height:157px;
	margin:0;
	padding:0;
	padding:9px;
	border:1px solid #d2d2d2;
	font:18px 'avenir_lt_std_45_bookregular', sans-serif;
	margin-bottom:13px;
	color:#444444;
}
.pagination{clear:both;}
.pagination a{
	margin: 3px 8px 0 10px;
	float:left;
	font:15px 'avenir_lt_std_45_bookregular';
}
.pagination a.inactive{
	color:#666;
	font:12px 'avenir_lt_std_45_bookregular';
	display:inline-block;
	padding:5px 7px;
	margin:0;
}
.pagination a.inactive:hover{
	background:#e9e9e9;
}
.pagination .current{
	color:#666;
	font:12px 'avenir_lt_std_45_bookregular';
	display:inline-block;
	float:left;
	margin-right:8px;
	background:#e9e9e9;
	padding:5px 7px;
}
.posts-archive .featured-image{
	margin:0;
	float:left;
	margin-right:20px;
	max-width:100%;
	width:auto;
}

.posts-index .featured-image{
	margin:0;
	float:left;
	margin-right:20px;
	max-width:100%;
	width:auto;
}


.posts-archive .featured-image img{
	border:1px solid #ccc;
}
.posts-archive{
	margin-bottom:50px;
	overflow:hidden;
	min-height:230px;
	position:relative;
	border-bottom: 1px solid #E1E1E1;
}
.posts-archive .post-content{
	background:none;
}
.read-more{
	width:130px;
	height:37px;
	text-align:center;
	line-height:37px;
	border:1px solid #ff9933;
	cursor:pointer;
	margin-bottom: 20px;
}
.read-more a{
	color:#fff;
	text-shadow: 0px 0px 1px #e18920;}
.read-more:hover{
	opacity:0.8;}
.button{
	background:url(../images/filete-btn.jpg);
	display:inline-block;
}
.wpcf7-submit, #comment-submit input{
	color: #fff;
	font-size:9px;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 20px;
	font-weight:bold;
    border: 1px solid #FF9933;
    cursor: pointer;
    height: 37px;
    line-height: 37px;
    text-align: center;
	background:url(../images/filete-btn.jpg);
	font: 18px 'avenir_lt_std_45_bookregular', sans-serif;
	margin:0;}
.wpcf7-submit, #comment-submit input:hover{
	opacity: 0.8;}	
.button.orange input{
	background:#EE9901;
	color:#fff;
}
.button.red a,.button.red input{
	background:#f20909;
	color:#fff;
}
.button.crimson a,.button.crimson input{
	background:#b61010;
	color:#fff;
}
.button.brown a,.button.brown input{
	background:#774837;
	color:#fff;
}
.button.tan a,.button.tan input{
	background:#ab875d;
	color:#fff;
}
.button.khaki a,.button.khaki input{
	background:#d4b086;
	color:#fff;
}
.button.navy a.button.navy input{
	background:#3f4275;
	color:#fff;
}
.button.blue a,.button.blue input{
	background:#1f27ca;
	color:#fff;
}
.button.babyblue a,.button.babyblue input{
	background:#6dacdc;
	color:#fff;
}
.button.denim a,.button.denim input{
	background:#2a6694;
	color:#fff;
}
.button.forest a,.button.forest input{
	background:#1a5d13;
	color:#fff;
}
.button.green a,.button.green input{
	background:#1e8b13;
	color:#fff;
}
.button.armygreen a,.button.armygreen input{
	background:#457340;
	color:#fff;
}
.button.gray a,.button.grey a,.button.gray input,.button.grey input{
	background:#727272;
	color:#fff;
}
.button.steel a,.button.steel input{
	background:#b3b3b2;
	color:#fff;
}
.button.black a,.button.block input{
	background:#000;
	color:#fff;
}
.404-content{
	overflow:hidden;
	width:100%;
}
.big-404{
	float:left;
	margin-right:51px;
}
.pages-404{
	float:left;
	padding-right:63px;
	border-right:1px solid #c1c2c5;
	margin-right:70px;
}
.pages-404 p{
	margin:0;margin-bottom:17px;
	padding:0;
}
.search-404{
}
.search-404 p{
	margin:0;margin-bottom:17px;
	padding:0;
}
.search-404 span{
	color:#626363;
}
ul.orange{
	list-style:none;
	margin:0;
	padding:0;
}
ul.orange li{
	background:url('../images/orange-bullet.png') no-repeat 0 2px;
	padding-left:25px;
	margin-bottom:15px;
}
.gallery{overflow:hidden;}
.full-width-item .gallery-item{padding-bottom:14px !important;}
.gallery-item{
	background:url(../images/bg-holder.gif);
	padding:11px;
	float:left;
	margin-right:20px;margin-bottom:20px;
}
.sidebar-gallery .gallery-item:nth-child(4n),.full-width-gallery .gallery-item:nth-child(6n){margin-right:0;}
.gallery-item .multiple-images-container{
	position:relative;
}
.gallery-item .multiple-images{
	width:278px;
	height:158px;
}
.gallery-item .multiple-images img{
	border:3px solid #fff;
	max-width:100%;
	width:272px;
	height:152px;
}
.gallery-item .prev,.gallery-item .next{
	bottom:5px;
}
.gallery-item .prev{
	left:auto;
	right:19px;
}
.gallery-item .next{
	left:auto;
	right:5px
}
.gallery-item h3{
	margin:0;
	padding:0;
	margin-top:9px;
}
.gallery-item h3 a{
	font-weight:bold;
	font-size:14px;
	color:#444444;
}
.gallery-item h3 a:hover{color:#EE9901;}
.gallery-item .meta{
	color:#919090;
	font-size:11px;
	font-family:Georgia,Serif;
	font-style:italic;
}
.portfolio-content{
	background:none;
	margin:0;margin-bottom:70px;
	padding:0;
	overflow:hidden;
}
.actual-portfolio-content{
	float:left;
}
.portfolio-categories{
	float:left;
	margin-left:30px;
	width:200px;
}
.portfolio-categories h3{
	margin:0;
	margin-bottom:25px;
}
.error{color:red;padding-bottom:20px;}
.success-heading{padding-bottom:10px;}
.success{color:green;padding-bottom:20px;}

.dropcap { font-size:62px; margin-right:6px; padding-top:4px; text-transform: uppercase; float: left; position: relative; top: 5px; color:#ef5407; }

.one_half, .one_third, .two_third, .three_fourth, .one_fourth { margin-right: 4%; float: left; line-height:21px; margin-bottom:20px; }
.one_half { 	width: 48%; }
.one_third { width: 30.6666%; }
.two_third { width: 65.3332%; }
.one_fourth { width: 22%; }
.three_fourth { width: 74%; }
.last { margin-right: 0 !important; clear: right; }
.clearboth{ clear: both; display: block; font-size: 0px; height: 0px; line-height: 0; width: 100%; overflow:hidden; }

.highlight1 { background:#f6f67a; padding:2px; }
.highlight2 { background:#000; color:#CCC; padding:2px; }

.post-content .shortcode-tabs{padding:8px;margin-bottom:20px;}
.post-content .tab-hold{padding:0 0 3px;}
.post-content .tab-hold ul{margin:0;}
.post-content .tab-hold ul li{margin:0;}
.post-content .tab_content{padding:15px;}
.post-content .tab_content *:last-child{margin-bottom:0;}

.post-content h5.toggle{background:url(../images/separator-post-list.gif) repeat-x bottom left;margin:0;padding-bottom:13px;padding-top:13px;}
.post-content h5.toggle a{display:inline-block;background:url('../images/orange-bullet.png') no-repeat 0 2px;padding-left:29px;font-size:12px;color:#444444;font-weight:bold;}
.post-content h5.toggle.active{background:none;}
.post-content .toggle-content{background:url(../images/separator-post-list.gif) repeat-x bottom left;padding-bottom:13px;}

.post-content ul.orange{margin-bottom:20px;}

.alignleft{float:left;}
.alignright{float:right;}

.single-navigation{}
.single-navigation span,.pagination span.page-next,.pagination span.page-prev{display:inline-block;background:url(../images/single-pagination-arrow.png) no-repeat;width:6px;height:5px; position:relative; bottom:3px;}
.single-navigation .alignleft span,.pagination span.page-prev{background-position:top left;margin-right:5px;}
.single-navigation .alignleft a:hover span,.pagination a:hover span.page-prev{background-position:bottom left;margin-right:5px;}
.single-navigation .alignright span,.pagination span.page-next{background-position:top right;margin-left:5px;}
.single-navigation .alignright a:hover span,.pagination a:hover span.page-next{background-position:bottom right;margin-left:5px;}

.single-post .img-holder{margin:0 !important;width:auto !important;margin-bottom:20px !important;}

.share-post-container{
	background:url(../images/bg-holder.gif);
	padding:10px;
	max-width:100%;
	margin-bottom:60px;
}
.share-post{
	background:url(../images/patterns/pattern_1.png);
	max-width:100%;
	height:74px;
	border:3px solid #fff;
	-webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,0.33);
	-moz-box-shadow: inset 0 2px 10px rgba(0,0,0,0.33);
	box-shadow: inset 0 2px 10px rgba(0,0,0,0.33);
}
.share-heading{
	float:left;
	padding-left:25px;
	padding-top:20px;
}
.share-heading h3{
	font-size:17px;
	margin:0;
	padding:0;
	color:#444444 !important;
	font-weight:bold;
}
.share-heading h4{
	font-size:14px;
	color:#444444 !important;
	font-weight:normal;
	margin:0;
	padding:0;
}
.share-post ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-left:55px;margin-top:19px;
	float:left;
}
.share-post li{
	float:left;
	margin:0;
	padding:0;
	margin-right:14px;
}
.share-post li img{
	max-width:100%;
	height:auto;
}
@media only screen and (max-width: 960px){

	#content .post .servicos-interna .textIntro {
		width: 75%;
		float: right;
	}


	.post-content .addthis_toolbox a {float: left; margin-right: 15px; top: 0;}
	.post-content .addthis_toolbox .addthis_button_facebook_like { margin-right: 20px; margin-top: -2px;}
	.post-content .addthis_toolbox .addthis_button_google_plusone { margin-left: -20px;}
	.post-content .addthis_toolbox .addthis_counter { margin-left: -20px;}

	.main-content #content .addthis_toolbox a {float: left; margin-right: 15px; top: 0;}
	.main-content #content .addthis_toolbox .addthis_button_facebook_like { margin-top: -2px;}
	.main-content #content .addthis_toolbox .addthis_button_google_plusone { margin-left: -20px;}
	.main-content #content .addthis_toolbox .addthis_counter { margin-left: -20px;}


	.social li{margin:0 0 3px 3px;}

	.music-gallery .prev, .music-gallery .next{display:none !important;}
	.music-gallery{padding:0;}
	.music-gallery-holder{margin-left:0;}
	.music-gallery li{background:none;padding:0;margin-right:36px;}
	.music-gallery li img{max-width:100%;height:auto;}
	.music-gallery .rating{margin:0;}
	.music-gallery .tooltip{display:none !important;}

	.full-gallery .flex-control-thumbs li:first-child{margin-left:0;}

	#style-switcher{display:none;}
	.share-post ul{margin-top:25px;}
	.share-post li img{width:28px;height:28px;}

	#content .post .servicos-interna .lastList {
		margin-top:-46px;
	}

}
@media only screen and (max-width: 850px){
	#nav li a{padding:0 26px;}
	.footer-holder .col:first-child{padding:35px 190px 0 280px;}

	.posts-archive .featured-image{float:left;margin-bottom:15px;}
	.posts-archive .featured-image + h3{clear:both;}
	.read-more{position:static;}

	.share-post ul{margin-top:25px;}
	.share-post li img{width:25px;height:25px;}

	#main .holder #destaqueHome {
		height: auto;
		width: 90%;
		background-image: none;
		background-color: #f5eee1;
		border: 1px solid #e6e2dd;
		text-align: center;
	}

	#main .holder #destaqueHome .textoDestaqueHome {
		margin: 0 auto;
		float: none;
		text-align: center;
		width: 85%;
	}

	#header .holder .top-section #g-plus-header {
		margin-top: 0;
		margin-right: 0;
	}

	#content .post .servicos-interna .lastList {
		margin-top:-46px;
	}

}

@media only screen and (max-width: 768px){

	.top-section{text-align:center;}

	#social-header {display: none}

	#main .holder #destaqueHome {
		height: auto;
		width: 95%;
		background-image: none;
		background-color: #f5eee1;
		border: 1px solid #e6e2dd;
		text-align: center;
	}

	#main .holder #destaqueHome .textoDestaqueHome {
		margin: 0 auto;
		float: none;
		text-align: center;
		width: 85%;
	}

	#header .holder .top-section #g-plus-header {
		margin-top: 0;
		margin-right: 0;
	}

	#nav{
		background:url(../images/bg-header.jpg);
		padding:2px 0 0;
	}
	#nav li{
		float:none;
		background:none;
		border-bottom:1px solid #222;
	}
	#nav li a{
		float:none;
		display:block;
		text-align:center;
		padding:2px 0;
	}
	#nav li a:hover,
	#nav li.active a{
		background:none;
		border:2px solid #EE9901;
		border-width:2px 0;
		padding:0;
	}
	
	.logo{
		float:none;
		margin:0 auto;
		display:block;
	}
	.logo a{margin:0;}
	#header .holder, 
	#footer .holder{padding:0 20px;}
	#content{
		float:none !important;
		width:auto !important;
		padding:0 20px;
	}
	#content.gallery{
		width:48% !important;
		margin:0 auto;
	}
	#sidebar{
		float:none !important;
		width:auto;
		padding:0 20px;
		margin-top:50px;
	}
	#footer .footer-holder{padding:35px 20px;}
	.footer-holder .col{
		float:none;
		width:auto;
		margin:0;
	}
	#footer .col{margin-bottom:20px;}
	#footer .col:last-child{margin-bottom:0;}
	.footer-holder .col:first-child{
		background:none;
		padding:0;
		margin:0;
		width:100%;
		min-height:1px;
	}
	.twitter-widget{
		max-width:296px;
		margin:0 auto 30px;
	}
	.social{
		text-align:center;
	}
	.social li{
		float:none;
		display:inline-block;
		vertical-align:top;
		overflow:hidden;
	}
	.main-post-list,
	.main-post-list h3,
	.news-list li{line-height:16px;}

	.single-navigation{margin-bottom:20px;}

	.main-gallery .text-box,.main-gallery .flex-direction-nav{display:none !important;}

	.img-hold a{width:100% !important;}
	.img-hold .nav{display:none;}

	.featured-image{background:none;padding:0;}
	#comment-input input{margin-bottom:13px;}
	#comment-input input:last-child{margin-bottom:0;}

	.gallery-item{float:none;margin-right:0;min-height:0 !important;}
	.gallery-item a,.gallery-item .multiple-images,.gallery-item .multiple-images img{width:auto !important;height:auto !important;display:block;}
	.gallery-item .multiple-images img{width:99% !important;}

	.nav-holder ul{display:none;}
	.nav-holder{padding:10px 0px;}
	.nav-holder select{
		display:block;
		width:50%;
		margin:0 auto
	}

	.share-post ul{margin-top:19px;}
	.share-post li img{width:auto;height:auto;}
	span.btn-topo a {
		left:50%;
		margin: -135px 0 0 -108px;
	}
	.top-section #g-plus-header {
		margin-top: -124px;
		margin-right: -34px;
	}
		
	#wrapper #header .holder .logo-box {
		margin: 0 auto;
		padding-top: 30px;x1
	}

	.post-content .servicos-box .caixaTexto {width: 100%;}

	.servicos-interna .lastList { margin-top:20px; }

	#content .post .servicos-interna .textIntro {width: 100%}

	#content .post .servicos-interna .lastList {
		margin-top:-46px;
	}
}
@media only screen and (max-width: 599px){
	#content.gallery{
		width:78% !important;
		margin:0 auto;
	}

	.share-post ul{margin-top:25px;}
	.share-post li img{width:25px;height:25px;}

	#wrapper #header .holder .logo-box {
		margin: 0 auto;
	}
}
@media only screen and (max-width: 480px){
	.top-section ul{display:block;}
	.top-section ul li{padding:0 5px;}
	.section .threecolumns .col,
	.section .hold .col {
		float:none;
		width:100%;
		margin:0 0 20px;
	}
	.prev,
	.next{
		bottom:0;
		right:0;
		left:auto;
	}
	.prev{right:14px;}
	.section{margin:0 0 20px;}
	.music-gallery .rating{display:none;}
	.about-author .avatar{display:none;}
	.about-author .description{float:none;width:100%;}

	.post .img-hold ul li img{width:401px;}
	.breadcrumbs{display:none;}

	.share-heading{display:none;}
	.share-post ul{margin-top:20px;margin-left:20px;}
	.share-post li img{width:39px;height:39px;}

	.post-content .servicos-box .caixaTexto {width: 100%;}
	#content .post .servicos-interna .textIntro {width: 100%}

	#wrapper #header .holder .logo-box {
		margin: 0 auto;
		padding-top: 30px;
	}

	#content .post .servicos-interna .lastList {
		margin-top:0;
	}

	#content .post .post-content .servicos-box img {
		width: 300px;
	}
}

@media only screen and (max-width: 360px){

	.post .img-hold ul li img{width:auto;}
	.share-post ul{margin-left:30px;}
	.share-post li{margin:0;}

	.post-content .addthis_toolbox a {float: left; margin-right: 15px; top: 0;}

	.post-content .addthis_toolbox .addthis_button_facebook_like {margin-top: 10px;}
	.post-content .addthis_toolbox .addthis_button_tweet {margin-top: 10px;}
	.post-content .addthis_toolbox .addthis_button_google_plusone { margin-top: 10px; margin-left: 0}
	.post-content .addthis_toolbox .addthis_counter { margin-left: -20px; margin-top: 10px;}

	.main-content #content .addthis_toolbox .addthis_button_facebook_like { margin-top: 10px;}
	.main-content #content .addthis_toolbox .addthis_button_tweet {margin-top: 10;}
	.main-content #content .addthis_toolbox .addthis_button_google_plusone { margin-top: 10px; margin-left: 0}
	.main-content #content .addthis_toolbox .addthis_counter { margin-left: -20px; margin-top: 10px;}

	#wrapper #header .holder .logo-box {
		margin: 0 auto;
		padding-top: 30px;
	}

	#content .post .servicos-interna .textIntro {width: 100%}

	#content .post .servicos-interna .lastList {
		margin-top:0;
	}
}

@media only screen and (max-width: 320px){

	.post .img-hold ul li img{width:auto;}
	.share-post ul{margin-left:30px;}
	.share-post li{margin:0;}

	.post-content .addthis_toolbox a {float: left; margin-right: 15px; top: 0;}

	.post-content .addthis_toolbox .addthis_button_facebook_like {margin-top: 10px;}
	.post-content .addthis_toolbox .addthis_button_tweet {margin-top: 10px;}
	.post-content .addthis_toolbox .addthis_button_google_plusone { margin-top: 10px; margin-left: 0}
	.post-content .addthis_toolbox .addthis_counter { margin-left: -20px; margin-top: 10px;}

	.main-content #content .addthis_toolbox .addthis_button_facebook_like { margin-top: 10px;}
	.main-content #content .addthis_toolbox .addthis_button_tweet {margin-top: 10;}
	.main-content #content .addthis_toolbox .addthis_button_google_plusone { margin-top: 10px; margin-left: 0}
	.main-content #content .addthis_toolbox .addthis_counter { margin-left: -20px; margin-top: 10px;}

	#wrapper #header .holder .logo-box {
		margin: 0 auto;
		padding-top: 30px;
	}

	#content .post .servicos-interna .textIntro {width: 100%}
}

@media only screen and (max-width: 240px){
	.main-content #content .addthis_toolbox .addthis_button_tweet {margin-top: 10px;}
	.logo-box { margin:0 auto;}	
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.nav-holder{
		height:36px;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	.full-width-gallery{padding-left:60px;}
	.full-width-gallery .gallery-item{margin-right:20px !important;}
	.sidebar-gallery{}
	.sidebar-gallery .gallery-item{margin-right:0 !important;margin-left:110px !important;}
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'myriad_probold';
} 

#content .posts-archive h3 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

h2, h3 {
	font-weight: normal;
	text-shadow: 0;
}

p {
	font-family: 'avenir_lt_std_45_bookregular', 'sans-serif';
	font-size: 16px;
    line-height: 1.3;
}

.linksSociais{
	width:140px;
	margin:0; padding:0;
	float:right;}

.linksSociais li{
	width:29px;
	float:left;
	list-style:none;
	margin:0 0 0 5px;}

.linksSociais li a{
	display:block;
	float:left;
	width:31px;
	height:31px;
	text-indent:-9999px;
	overflow:hidden;}
.linksSociais li a:hover{ opacity:0.8;}	
.linksSociais li a.linkedin{ background:url(../images/linkedin-social-aotopo.png) no-repeat;}	
.linksSociais li a.gplus{ background:url(../images/google-social-aotopo.png) no-repeat;}	
.linksSociais li a.twitter{ background:url(../images/twitter-social-aotopo.png) no-repeat;}	
.linksSociais li a.rss{ background:url(../images/rss-social-aotopo.png) no-repeat;}	


.tweets{ margin: 0 0 50px 0;}

.page-template-contact-php #content .heading h3{font-family: 'myriad_probold'; font-size:30px; color:#333;}

.twitter-box {font-size: 15px;}
#twitter_update_list {list-style-type: none; padding-left: 10px; padding-right: 10px}
#twitter_update_list li {margin-bottom: 10px; padding-bottom:10px; border-bottom: 1px solid #d3d3d3; color:#666}
#twitter_update_list li:last-child {border:0px}
#twitter_update_list li a{color:#999}
#twitter_update_list span a{color:#f06e09}

/* ---------------------------- pagina serviços ----------------- */

.post .post-content .staticPages {
	font-size: 30px;
}

.myServiceIcon {
	position: relative;
	width: 222px;
	height: 280px;
	text-align: center;
	float: left;
	margin: 30px 30px 30px 0;
}

.myServiceIcon p{
	margin-top: 10px;
}

.myServiceIcon a{
	color:#333;	
}


.myServiceIcon a:hover{
	color:#EE9901;	
}


.servicos-addThis {
	margin-top: 10px;
}

#content .post #serviceIconsBox {
	width: 100%;
	margin: 0 auto;
}

/* - - - - - - - - - - - - - - - - Serviços - Interna - - - - - - - - - - - - - - - - */

.servicos-box  {
	width: 100%;
	margin:0 auto 60px auto;
	float: left;
	padding-top: 50px
}

.servicos-box img {
	width: 350px;
	position: relative;
	top:0;
}

.separador {
	width: 100%;
	height: 33px;
	background-image: url("../images/servicos-webdesign-separador.png");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	cursor: pointer;
	margin: 40px 0;
}

.servicos-interna .separador h3 {
	color: #666;
	font-size: 26px;
}

.caixaTexto {
	width: 47%;
	min-width: 200px;
	margin-right: 20px;
	float: left;
}

#content .post .servicos-interna {
	background: none;
}

#content .post .servicos-interna h2 {
	font-size: 50px;
	color: #333;
}

#content .post .servicos-interna h3 {
	font-size: 30px;
}

#content .post .servicos-interna ul {
	margin-left: 18px;
}

#content .post .servicos-interna .servicos-interna-footer {
	background-image: url("../images/servicos-webdesign-footer-bg.jpg");
	background-repeat: repeat-x;
	width: 100%;
	float: left;
	padding-top: 50px;
	margin-bottom: 30px;
}

#content .post .servicos-interna .servicos-interna-footer-lista {
	float: left;
	width: 30%;
	min-width: 250px;
	margin-right: 15px;
}

#content .post .servicos-interna .servicos-interna-footer-contato {
	background-color: #eaeaea;
	height: 115px;
	float: left;
	width: 96%;
	text-align: center;
	padding: 15px 10px;
}


#content .post .servicos-interna #imagemPage img {
	float: left;
	margin:0 25px 0 0;
}

/* SOCIAL HEADER buttons */

#social-header{
	position:relative;
	float:right;
	margin-top:-75px;
}

#linkedin-header{
	width: 95px;
	margin-right:16px;
	float:left;
}

#g-plus-header{
	float: left;
	width: 75px;
}

.gPlus-connect-link {
	font-size: 14px;
}

/* BreadCrumbs */

.last-breadCrumb {
	color: #aeaeae;
}


/* - - Ma fixes - - */


.main-content .fixPageTitle {
	font-size: 30px;
	color: #444;
}

#topoSingle {
	border-bottom: 1px solid #E1E1E1;
}

span.btn-topo {display: none}

.main-content #content .addthis_toolbox {clear: both;}

.main-content #content .addthis_toolbox .addthis_button_tweet {margin-left: 15px;}

#content .post .servicos-interna img, #content .post .servicos img{
	border: none;
}

.logo-box {
	overflow: hidden;
	width: 235px;
	height: 65px;
	margin: 50px 0 35px 0;
	width: 250px;
}

#main .page-servicos .addthis_toolbox {
	margin-top: 150px;
}

::selection
{
background-color:#444;
color:#fff;
}
::-moz-selection
{
background-color:#444;
color:#fff;
}

textarea { height: 160px; }

/* - - - - - - - - - - DESTAQUE HOME - - - - - - - - - - - - - */

#destaqueHome {
	width: 940px;
	height: 300px;
	margin: -20px auto 30px auto;
	background-image: url("../images/bannerHome.png");
	background-repeat: no-repeat;
}

#destaqueHome .textoDestaqueHome {
	width: 500px;
	float: right;
	margin-right: 80px;
	margin-top: 30px;
}

#destaqueHome .textoDestaqueHome a {
	color: #F06E09;
}

/* - - - - - - - - - - AUTOR - - - - - - - - - - - - - */

.main-content #content .post-content #blog-autor {
	min-height: 200px;
	padding:15px;
	margin: 20px 0;
	background-color: #FAFAFA;
	border: 1px solid #EAEAEA;
}

.main-content #content .post-content #blog-autor #autor-bio {
	float: left;
	width: 450px
}

.main-content #content .post-content #blog-autor #autor-bio h3{
	font-size: 20px;
	color: #444;
}

/* - - - - - - - - - - POSTS RELACIONADOS - - - - - - - - - - - */

.main-content #sidebar #wp_related_posts_widget {
	border: 1px solid #eaeaea;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

.main-content #sidebar #wp_related_posts_widget h3 {
	font-size: 20px;
}

.main-content #sidebar #wp_related_posts_widget ul{
	margin-left: -40px;
	margin-bottom: 20px;
}

.main-content #sidebar #wp_related_posts_widget ul li {
	list-style-type: none;
	font-size: 15px;
	margin-bottom: 10px;
}

.main-content #sidebar #wp_related_posts_widget ul li a{
	color: #F06E09;
}

/* -------------- HOME -------------------- */

.content #reguaHome {
	width: 100%;
	height: 60px;
	margin-bottom:30px;
}

.content #reguaHome #reguaHome-busca {
	width: 320px;
	float: left;
	margin-top: 13px;
}

@media only screen and (max-width: 850px){

	.holder .content-home #reguaHome #reguaHome-busca {
		width: 100%;
	}

	.holder .content-home #reguaHome #reguaHome-busca input {
		width: 100%;
	}
}

@media only screen and (max-width: 850px){

	.main-content .content-home {
		padding: 0 15px;
	}
}

.content #reguaHome #reguaHome-busca input {
	width: 300px;
}

.content #reguaHome #reguaHome-social {
	color: #999;
	width: 323px;
	float: right;
	line-height: 29px;
	margin-top: 13px;
}

@media only screen and (max-width: 850px){
	.content #reguaHome #reguaHome-social {
		display: none;
	}
}

.content .headingHome, #servicosHome-box #servicosHome-content .headingHome, #socialHome .headingHome{
	margin: 0 0 20px; 
}

.boxArtigoHome {
	cursor: pointer;
	position:relative;
	width: 420px;
	height: 210px;
	padding:0 20px;
	border: 1px solid #e6e6e6;
	border-bottom: 3px solid #f8b033;
	margin-bottom: 15px;
	float: left;
	background-color: #fff;
	margin-right: 15px;
	overflow: hidden;
}

@media only screen and (max-width: 850px){

	.boxArtigoHome {
		width: 93%;
	}
}

@media only screen and (max-width: 480px){

	.boxArtigoHome {
		width: 90%;
	}
}

.boxArtigoHome-par {
	margin-right: 0;
}

.boxArtigoHome-categoria {
	position: absolute;
	top: 15px;
	left: 15px;
}

.boxArtigoHome-categoria a {
	color: #ccc;
	font-size: 14px;
}

.boxArtigoHome-categoria a:hover {
	color: #f8b033;
}

.boxArtigoHome-featured-image {
	display: block;
	margin-right: 15px;
	margin-bottom: 20px;
	width: 80px;
	height: 80px;
	float: left;
	position: relative;
	top: 60px;
	border: 1px solid #e6e6e6;
}

.boxArtigoHome-title {
	margin-top: 56px;
}

.boxArtigoHome-texto {
	width: 320px;
	position: absolute;
	top: 42px;
	left: 116px;
	display: none;
	font-size: 15px;
}

@media only screen and (max-width: 850px){
	.boxArtigoHome-texto {
		width:80%;
	}
}

.boxArtigoHome-info {
	position: absolute;
	bottom: 12px;
	font-size: 15px;
	width: 420px;
}

@media only screen and (max-width: 850px){
	.boxArtigoHome-info {
		width: 93%;
	}
}

@media only screen and (max-width: 480px){
	.boxArtigoHome-info {
		width: 90%;
	}
}

.boxArtigoHome-info .boxArtigoHome-autor a{
	color: #f8b033;
	font-weight: bold;
}

.boxArtigoHome-info .boxArtigoHome-comentarios {
	background: url(../images/ico-comentario.png) no-repeat left center;
	position: relative;
	float: right;
	text-indent: 20px;
}

#servicosHome-box {
	width: 100%;
	overflow: hidden;
	background-color: #eaeaea;
	margin: 35px 0;
	padding-bottom: 90px;
	border: 1px solid #d9d9d9;
}

@media only screen and (max-width: 850px){
	#servicosHome-box {
		padding-bottom: 0;
	}
}

#servicosHome-box #servicosHome-content {
	width: 940px;
	padding: 30px 0 30px 0;
	margin: 0 auto 30px auto;
}

@media only screen and (max-width: 850px){
	#servicosHome-box #servicosHome-content {
		padding-left: 15px;
		width: 100%;
	}
}

@media only screen and (max-width: 850px){
	#servicosHome-box #servicosHome-content #servicosHome {
		text-align: center;
		padding: 0;
	}
}

#servicosHome-box #servicosHome-content #servicosHome li{
	width: 265px;
	height: 265px;
	float: left;
	margin-right: 30px;
	list-style: none;
}

@media only screen and (max-width: 850px){
	#servicosHome-box #servicosHome-content #servicosHome li{
		width: 280px;
		height: auto;
		float: none;
		list-style: none;
		margin: 0 auto;
		margin-bottom: 40px;
	}
}

#servicosHome-box #servicosHome-content #servicosHome li a{
	color: #999;
}

#servicosHome-box #servicosHome-content #servicosHome li a:hover {
	color: #f8b033;
}

#servicosHome-box #servicosHome-content #servicosHome figure{
	margin: 0;
	position: relative;
	height: 270px;
}

#servicosHome-box #servicosHome-content #servicosHome figure img{
	position: absolute;
}

@media only screen and (max-width: 850px){
	#servicosHome-box #servicosHome-content #servicosHome figure img {
		position: absolute;
		left: 0;
	}
}

#servicosHome-box .servicos-home-title {
	text-align: center;
	position: relative;
	margin: 0 auto;
	margin-top: 13px;
}

#socialHome {
	width: 940px;
	margin: 0 auto;
}

@media only screen and (max-width: 850px){
	#socialHome {
		display: none;
	}
}

#socialHome .socialHome-box {
	width: 295px;
	min-height: 500px;
	float: left;
	margin-right: 15px;
}



/* ---- ---- ---- ---- PRE_FOOTER ---- ---- ---- */

#preFooter {
	width: 100%;
	height: 175px;
	background-color: #444;
	float: left;
}

@media only screen and (max-width: 850px){

	#preFooter {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 599px){

	#preFooter {
		display: none;
	}
}


#preFooter #preFooter-content {
	width: 940px;
	margin: 0 auto;
}

#preFooter .preFooter-title {
	color: #999;
	margin-bottom: 3px;
}

#preFooter #preFooter-cadastro {
	float: left;
	width: 620px;
	height: 200px;
	margin-top: 40px;
}

@media only screen and (max-width: 768px){
	#preFooter #preFooter-cadastro {
		width:520px;
	}
}

#preFooter .button-home {
	cursor: pointer;
	border: 1px solid #ff9933;
	margin-left: 5px;
	position: relative;
	top: 13px;
	padding: 0 10px;
}

#preFooter .button-home:hover {
	opacity:0.8;
}

#preFooter #preFooter-content #preFooter-cadastro .preFooter-input {
	width: 180px;
	font-size: 15px;
	padding-left: 5px;
}

#preFooter .preFooter-button {
	float: left;
	background: transparent;
	border: 0;
	cursor: pointer;
}

#preFooter #preFooter-contato {
	margin-top: 60px;
	width: 150px;
	float: left;
	color: #FFF;
}

#preFooter #preFooter-contato a {
	color: #ff9933;
}

#preFooter #preFooter-cadastro-log {
	color: #f8b033;
}

#reguaHome-social-footer {
	width: 330px;
	margin: 40px auto;
	color: #999;
	display: none;
}

#reguaHome-social-footer .linksSociais-home {
	margin-top: -4px;
}

@media only screen and (max-width: 850px){
	#reguaHome-social-footer {
		display: block;
	}
}