@import url("css/all.css");
@import url("css/prettyPhoto.css");

.widget_search,.pyre_social_counter,.pyre_tabs{margin-bottom:0;}

.wp-caption{}
.wp-caption-text{}
.sticky{}
.gallery-caption{}
.bypostauthor{}

/* Alignment */
.post-content .alignleft {
	display: inline;
	float: left;
	margin: 0;
	margin-right: 15px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.copy p{margin:0; font-size:14px;}

.post-content{ 
	word-wrap: break-word;
}